@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

header{
    font-family: Raleway, sans-serif;
    font-size:250%;
    background-color:#811331;
    color: #B0E0E0;
    text-align:center;
    margin:0;
    padding: 100px;
    border:none;
}
#menu{
    font-family: Raleway, sans-serif;
    list-style-type: none;
    padding: 25px;
    background-color: #B0E0E0;
    color: #811331;
    font-size:150%;
}
#menu a{  
    color: #811331;
    text-decoration: none;
}
#menu li{
    margin-top:2.5em;
    margin-bottom: 2.5em;
    text-align: left;
}
#menu li:hover{
    display: block;
    color:white;
    background-color: white;
    
}


#left-side{
    padding-top: 1px;
    width: 25%;
    float:left;
    background-color: #B0E0E0;
}

#right-side{
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 1px;
    width: 75%;
    float:right;
    background-color: #811331;
    color: white;
    margin-bottom: 50px;
}