@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');
/*These styles are consistent with every page */
header{
    font-family: Raleway, sans-serif;
    font-size:250%;
    background-color:#811331;
    color: #B0E0E0;
    text-align:center;
    margin:0;
    padding: 100px;
    border:none;
}
#menu{
    font-family: Raleway, sans-serif;
    list-style-type: none;
    padding: 40px;
    background-color: #B0E0E0;
    color: #811331;
    font-size:150%;
}
#menu a{  
    color: #811331;
    text-decoration: none;
}
#menu li{
    margin-top:5em;
    margin-bottom: 5em;
    text-align: left;
}
#menu li:hover{
    display: block;
    color:white;
    background-color: white;
}

#left-side{
    padding-top: 1px;
    width: 25%;
    float:left;
    background-color: #B0E0E0;
}

#right-side{
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 1px;
    width: 75%;
    float:right;
    background-color: #811331;
    color: white;
    margin-bottom: 50px;
}
footer{
    font-family: Raleway, sans-serif;
    font-size:150%;
    background-color:#811331;
    color: #B0E0E0;
    text-align:center;
    margin: 0;
    padding: 50px;
    border:none;
}
/*Media Queries */

/* For medium screen sizes from 950px wide and down */

@media screen and(max-width:600px) {

    header{
        text-align: center;
        font-size:50em    }

    #menu{
        clear: both;
        float: left;
    }
    #right-side{
        float: none;
        width:50%;
    }
    #left-side{
        float: none;
        width:50%;
    }
}